body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/photo2.jpg");
  background-repeat: no-repeat;
 
  background-position: left;
 background-size: cover;

  font-family: cursive;
  
}




/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}


#Acerca-de-mi .display-3 {
  font-family: cursive;
  font-size: 70px;
}